name: CI Main

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    test-build:
        runs-on: windows-latest
        steps:
            - uses: actions/checkout@v4

            - name: Set up Go
              uses: actions/setup-go@v5
              with:
                  go-version: "1.21"

            - name: Install deps
              run: go mod download

            - name: Tidy
              run: go mod tidy

            - name: Vet
              run: go vet ./...

            - name: Test
              run: go test -v ./...

            - name: Build
              run: go build -o ecrypto.exe

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                  name: ecrypto-windows-amd64
                  path: ecrypto.exe
